body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

header {
  text-align: center;
}

figure {
  justify-content: center;
  
  font-size:14px;
}

nav a {
  padding: 0 10px;
  background-color: grey;
}

/*#featured-property p {*/
/*  width: 800px;*/
  
/*}*/

#featured-property {
  text-align: center;
  justify-content: center;
  
}

#details {
  display: block;
  justify-content: center;
  width: 100%;
}

#details div {
  float: left;
  background-color: red;
  width: 25%;
  
}